<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<!--TO DO-->
<h3>1. Create 2 modules having name AuthModule and UserModule</h3>
<h3>2. Lazyload both modules having route auth and user</h3>
<h3>3. Auth Module will contain 2 components</h3>
<h5>
  login Component - User can access this component by navigating( /auth/login )
</h5>
<h5>
  register Component - User can access this component by navigating(
  /auth/register )
</h5>
<h3>4. User Module will contain 2 components</h3>
<h5>
  profile Component - User can access this component by navigating( /user/profile
  )
</h5>
<h5>
  settings Component - User can access this component by navigating(
  /user/settings )
</h5>

<h3>5. Protect user /route</h3>

